<ngx-spinner
bdOpacity = 0.9
bdColor = "#333"
size = "large"
color = "#73b7ff"
type = "ball-clip-rotate"
[fullScreen] = "true">
<p style="color: white" > Carregando... </p>
</ngx-spinner>

<div class="row">
  <div class="col s12 m12 l12">
    <mat-form-field>
      <input matInput placeholder="Descrição Medicamento" type="text" [(ngModel)]="vacinaModel.descMedicamento" required>
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col s12 m4 l4">
    <mat-form-field>
      <input matInput placeholder="Data Vacina" type="date" [(ngModel)]="vacinaModel.dtVacina" required>
    </mat-form-field>
  </div>

  <div class="col s12 m4 l4">
    <mat-form-field>
      <input matInput placeholder="Peso" type="number" [(ngModel)]="vacinaModel.peso" required>
    </mat-form-field>
  </div>

  <div class="col s12 m4 l4">
    <mat-form-field>
      <input matInput placeholder="Dosagem" type="number" [(ngModel)]="vacinaModel.dosagem" required>
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col s12 m4 l4">
    <mat-form-field>
      <input matInput placeholder="Aplicador" type="text" [(ngModel)]="vacinaModel.aplicador" required>
    </mat-form-field>
  </div>

  <div class="col s12 m4 l4">
    <mat-form-field>
      <input matInput placeholder="Animal" type="number" [(ngModel)]="vacinaModel.idAnimal" required>
    </mat-form-field>
  </div>
</div>

<div class="row footer-btn">
  <div class="button-row col s12"> 
      <button mat-raised-button (click)="voltar()" >Voltar</button>    
      <button *ngIf="!edicao" mat-raised-button color="green" (click)="salvar()">Salvar</button>
      <button *ngIf="edicao" mat-raised-button color="green" (click)="salvar()">Atualizar</button>
  </div> 
</div>